* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.building {
  display: inline-block;
  .floor {
    outline: solid 1px red;
    display: block;
    width: 150px;
    height: 80px;

    &::after {
      padding: 3px;
      border-radius: 4px;
      background-color: blue;
      color: white;
      content: attr(floor-id);
    }

    .floor-btn {
      margin: 20px;
      padding: 2px;
      display: inline-block;
      outline: solid 1px blue;
      width: 20px;
      height: 20px;
      color: blue;
    }

    .pressed {
      background-color: blue;
      color: white;
    }

    .up::after {
      content: "▲";
    }

    .down::after {
      content: "▼";
    }
  }
  :first-child .up {
    visibility: hidden;
  }
  :last-child .down {
    visibility: hidden;
  }
}
.elevators {
  position: absolute;
  .elevator {
    margin-left: 200px;
    display: inline-block;
    height: 40px;
    width: 40px;
    border: 2px solid brown;

    &::before {
      content: "";
      display: block;
      height: 40px;
      width: 40px;
      background-color: brown;
      transition: 2s;
    }

    &[door-open="true"] {
      &::before {
        width: 0px;
      }
    }
    
  }
  
}
